<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication.io</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
    <!-- Link the noty cdn css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link the noty cdn js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <!-- <% if (messages) { %>
        <p class="error">
            <%= messages.error %>
        </p>
        <% } %>
            <% if (messages.success) { %>
                <p class="success">
                    <%= messages.success %>
                </p>
                <% } %> -->


    <div id="text">
        <h1>Hey There!!! Welcomeeeee to Authentication.io</h1>
    </div>
    <div id="main-container">
        <h2>Are you a...</h2>
        <div id="button-container">
            <div class="q1">
                <button><a href="/sign-up">New User</a></button>
            </div>
            <div id="or">
                <h3>or

                </h3>
            </div>
            <div class="q2">
                <button><a href="/sign-in">Existing User</a></button>
            </div>
        </div>
    </div>

    <script>
        <% if (locals.flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',

                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 1900,

            }).show();
        <%} %>
    
        <% if (locals.flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',

                text: '<%= flash.error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 1900,

            }).show();
        <%} %>
    </script>
</body>

</html>