body {
    margin: 0;
    padding: 0;
    background: url('../images/img.1.jpg') no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#main-container {
    background: transparent;
    border: 2px solid rgba(255, 255, 255 .2);
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 420px;
    text-align: center;
    border-radius: 20px;

}

text h1 {
    font-family: sans-serif
}

.inputbox {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    padding: 5px 5px 5px 5px;
}

.inputbox input {
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255 .2);
    border-radius: 40px;
    text-align: center;
    color: #fff;
    padding: 5px 5px;
    font-size: 16px;
}

.inputbox input::placeholder {
    color: #fff;
}

#signup-form {
    padding: 5px 5px;
}

#reset-form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

#google-link button {
    width: 50%;
    background: orangered;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 5px;
    cursor: pointer;

}

#google-link button a {
    text-decoration: none;
    color: #fff;
}

#nav-btn button {
    background: seagreen;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
}

#nav-btn a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}